body {
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-image: url(modern-kitchen-composition-with-healthy-ingredients.jpg),black;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;

  }

  h1{
    font-size: 30px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 0.5s ease-in-out infinite alternate;
    -moz-animation: glow 0.5s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    margin: 100px;
    

  }
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #5DEBD7, 0 0 40px #1679AB, 0 0 50px #003C43 ;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #C5FF95, 0 0 40px #5DEBD7, 0 0 50px #1C1678;
    }
  }


  header {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
    margin-top: 150px;
  }  
  input[type="text"] {
    background-color: #F7DCB9;
border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px;
    width: 300px;
    -webkit-transition: width 0.4s ease-out;
    transition: width 0.3s ease-out;
    height: 50px;
  }
  input[type=text]:focus{
    width: 30%;
    box-shadow: 5px 7px 40px;
color: #000000;
border-radius: none;
  }
  .btn {
    margin-left: 10px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 3px;
    background-color: #b1acac;
    height: 45px;

  }
  button[type="submit"] {
    background-color: #b5c583;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 3px 5px;
    transition: background-color 0.2s;
  }
  
  button[type="submit"]:hover {
    background-color: #F7DCB9;
  }
  
  #results {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 40px 0;
  }
  
  #results > div {
    background-color: #bcfad6;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    height:500px;
  }
  
  #results img {
    border-radius: 8px;
    margin-bottom: 20px;
    object-fit: cover;
    height: 200px;
    width: 100%;
  }
  
  #results h3 {
    color: #333;
    font-size: 24px;
    margin: 0;

  }
  
  #results ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #results li {
    list-style:circle;
    margin-bottom: 10px;
  }
  
  #results a {
    background-color: #41B06E;
    border-radius: 8px;
    color: #302e2e;
    font-size: 16px;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s;
  }
  #results a:hover {
    background-color: #FFF5E0;
  }
#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
    background-color: #003C43;  
}
#mainNavbar .nav-link{
color:  #4d7d83;
font-size: 1.3rem;
font-weight: 400;
display: flex;

}
#mainNavbar .nav-link:hover{
 color:#d2fff3;
 font-size: 1.3rem;
 font-weight: 500;
 text-decoration: underline;
 top: -2px;
 
}
#mainNavbar .navbar-brand{
    color: #77B0AA;
    font-size: 1.8rem;
    font-weight:700;
    text-align: center;

}
#headingGroup span{
color: #C5FF95 ;

}
#headingGroup h1{
    font-weight: 100;
    font-size: 4rem;
}
.navbar{
    background: none;
    transition: background 300ms;
border-radius: 10px;
margin-top: 30px;
width: 280PX;
max-width: fit-content;
margin-left: auto;
margin-right: auto;

}
